.wrap .contents_area_wrap {
  min-height: 500px;
}
.wrap .contents_area_wrap .page_title_area {
  margin-top: 80px;
  transition: 0.3s;
}
.wrap .contents_area_wrap .page_title_area .page_title_wrap {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-weight: 300;
  transition: 0.3s;
}
.wrap .contents_area_wrap .page_title_area .container_fixed {
  max-width: 1200px;
  margin: 0 auto;
}
.wrap .contents_area_wrap .cart_table_area {
  margin-top: 80px;
}
.wrap .contents_area_wrap .cart_table_area .container_fixed {
  max-width: 1200px;
  margin: 0 auto;
}
.wrap .contents_area_wrap .cart_table_area .container_fixed .title_area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 300;
}
.wrap .contents_area_wrap .cart_table_area .container_fixed .title_area .line {
  width: 1px;
  height: 25px;
  margin: 0 15px;
  background-color: #D6D6D6;
}
.wrap .contents_area_wrap .cart_table_area .container_fixed .title_area .title_contents span {
  font-weight: 600;
}
.wrap .contents_area_wrap .cart_table_area .container_fixed .cart_table {
  margin-top: 20px;
}
.wrap .contents_area_wrap .cart_table_area .container_fixed .cart_table .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  text-align: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #D6D6D6;
}
.wrap .contents_area_wrap .cart_table_area .container_fixed .cart_table .header .check_box_area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  text-align: center;
  padding: 20px;
}
.wrap .contents_area_wrap .cart_table_area .container_fixed .cart_table .header .check_box_area .form_check + label:last-child {
  margin-right: 0;
  width: 0;
  margin-left: 0;
  overflow: hidden;
}
.wrap .contents_area_wrap .cart_table_area .container_fixed .cart_table .header .check_box_area .form_check + label {
  display: flex;
  align-items: center;
  background: url(/images/common/check_default.svg) 0 0 no-repeat;
  cursor: pointer;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  padding-left: 20px;
  color: #858585;
}
.wrap .contents_area_wrap .cart_table_area .container_fixed .cart_table .header .info_wrap {
  width: calc(100% - 212px);
}
.wrap .contents_area_wrap .cart_table_area .container_fixed .cart_table .header .info_wrap .info_set {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .contents_area_wrap .cart_table_area .container_fixed .cart_table .header .func_area {
  width: 147px;
  padding: 20px;
}
.wrap .contents_area_wrap .cart_check_area {
  margin-top: 20px;
}
.wrap .contents_area_wrap .cart_check_area .container_fixed {
  max-width: 1200px;
  margin: 0 auto;
}
.wrap .contents_area_wrap .cart_check_area .container_fixed .item_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wrap .contents_area_wrap .cart_check_area .container_fixed .item_wrap .btn_set {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
.wrap .contents_area_wrap .cart_check_area .container_fixed .item_wrap .btn_set a {
  width: 114px;
  height: 35px;
  font-size: 1.4rem;
  letter-spacing: -0.04rem;
  border: 1px solid #DFDFDF;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 265px;
  height: 60px;
  margin: 0 5px;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.wrap .contents_area_wrap .btn_area {
  margin-top: 60px;
  margin-bottom: 150px;
}
.wrap .contents_area_wrap .btn_area .container_fixed {
  max-width: 1200px;
  margin: 0 auto;
}
.wrap .contents_area_wrap .btn_area .container_fixed .btn_set {
  display: flex;
  justify-content: center;
}
.wrap .contents_area_wrap .btn_area .container_fixed .btn_set .btn_basic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 265px;
  height: 60px;
  margin: 0 5px;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=cart.css.map */